body {
  background-color: grey;
}

.modal {
  width: 200px;
  height: 350px;
  border: 1px solid chocolate;
  border-radius: 10px;
  background-color: rgb(79, 193, 228);
  box-shadow: 0 0 10px #000;
  margin: 0 auto;
  display: none;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: rgb(127, 255, 0);
  color: forestgreen;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s linear;
  cursor: pointer;
}

button:hover {
  background-color: rgba(127, 255, 0, 0.8);
  color: #000;
}

.orange {
  color: orange;
}